*{
    --icon-defualt-size: 30px;
}
.highlight-icon{
    width: var(--icon-defualt-size); 
    height: var(--icon-defualt-size);
    border-radius: 50px; 
    transition-duration: .25s;
    background-color: white; 
    outline: 3px solid black; 
    transform-origin: center center;
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.color-icon{
    all: initial;
    position:relative !important; 
    display:block !important; 
    margin: 0 !important;
    padding: 0 !important;  
    appearance: none !important;
    content: "" !important; 
    width: 10px !important; 
    height: 10px !important; 
    border-radius: 5px !important; 
}
.color-icon:checked{
    content: "" !important; 
    outline: 1px solid black; 
}
.icon-show{
    width: calc(var(--icon-defualt-size) + 30px); 
    height: calc(var(--icon-defualt-size) + 30px); 
}
.center-icon{
    position:fixed;   
    width: 10%; 
    height: 10%;
    top: 90%; 
    left: 90%; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
}
.highlight-plugin-mark{
    border-radius: .2rem;
}
.highlight-plugin-hover{
    position:absolute;
    min-width: 5rem; 
    min-height: 1.5rem; 
    max-width: 20rem;
    border: 1px solid #FFFFFF; 
    border-radius: 2rem; 
    display: flex;
    background-color: #D9D9D9;
    overflow: hidden; 
}
.highlight-plugin-hover-hide{
    display: none !important;
}
.highlight-plugin-hover-comment{
    /* resize: none;  */
    box-shadow: none; 
    outline: none; 
    border-color: #D9D9D9;
    scrollbar-color: #D9D9D9 white;  
    min-width: 6rem;
    min-height: 1rem;
    font-size: medium; 
    margin: 0px !important; 
    background-color: #D9D9D9; 
    border-radius: .5rem; 
}
.highlight-plugin-hover-remove:hover{
    cursor:pointer; 
}
.highlight-plugin-hover-remove{
    border-radius: 1rem; 
    min-width: 1.5rem; 
    min-height: 1.5rem; 
    max-width: 1.5rem;
    max-height: 1.5rem;
    flex-shrink: 0; 
    flex-grow: 0; 
    margin: .4rem;
    margin-left: .4rem;  
    border: none; 
    background-color: #C4C4C4;
}